{% extends 'base.html' %}

{% block title %}About | Valorant Agent Randomizer{% endblock %}

{% block content %}

    <div class="container">
        <section class="about-section">
            <h3>About</h3>
            <p>This randomizer helps you and your friends quickly assign VALORANT agents while having the option to prioritize roles. 
            This project was programmed using Python and Django, with styling assets stored using AWS S3, deployed on Render, and backed by a PostgreSQL database.</p>
            <br>
            <p>This project is not affiliated with or endorsed by Riot Games and is not an official VALORANT randomizer site. It is a fan-made passion project created by a VALORANT player.</p>
        </section>
    </div>
{% endblock %}
